:root{
    --color1: #2da379;
    --color2: #022f42;
    --color3: #297762;
    --color4: #0f5132;
    --background1: #f5f5f5;
    --background2: #e6e6e6;
    
}

/* root */

h1{
    font-size: calc(1.375rem + 5vw);
}

h2{
    font-size: calc(1.375rem + 2.5vw);
}

h3{
    font-size: calc(1.375rem + 1vw);
}

p{
    font-size: 1.2em;
}


/* Section nav */
.navbar-dark{
    background-color: #25354fe0 !important;
}

.nav-link::selection{
    color: white;
}

.dropdown-menu{
    top: 120% !important;
    left: -60% !important;
    min-width: 0 !important;
    background-color: #25354fe0 !important;
}

.dropdown-item{
    color: white !important;
}

/*temporal*/
.dropdown-item.disabled{
    color: gray !important;
}

.dropdown-item:hover{
    background-color: var(--color3) !important;
}

/* Section main */
.section_main{
    background: linear-gradient(-55deg, var(--color1) 50%, var(--background1) 50%);
} 

.row_main{
    height: 100vh;
    color: var(--color2);
}

.col_i_main, .col_d_main{
    align-self: center;
}

/* Section About */
.row_about{
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.col_i_about{
    align-self: center;
}

.title_about, .title_contact{
    color: var(--color2);
    padding: 0;
    text-decoration: underline;
    text-decoration-color: var(--color1);
}

/* Section Contact */
.section_contact{
    background-color: var(--background2);
}

.row_contact{
    padding: 5vh 10vw;
}

.btn-primary{
    background-color: var(--color3);
    font-size: 1.1em;
    border: none;
    padding: 0.5rem 3rem;
}

.btn-primary:hover{
    background-color: var(--color4) !important;
    
}